.back-link {
  display: flex;
  gap: var(--gap-small);
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-regular);
}

[data-scheme="light"] .back-link {
  color: var(--color-text-primary);
}

[data-scheme="dark"] .back-link {
  color: var(--color-text-primary-dark);
}
