.error-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
}

.error-page .title {
  font-size: var(--font-size-page-title);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--gap-medium);
}

[data-scheme="light"] .error-page .title {
  color: var(--color-text-secondary);
}

[data-scheme="dark"] .error-page .title {
  color: var(--color-text-secondary-dark);
}

.error-page .subtitle {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
}

[data-scheme="light"] .error-page .subtitle {
  color: var(--color-text-tertiary);
}

[data-scheme="dark"] .error-page .subtitle {
  color: var(--color-text-tertiary-dark);
}
