.FeedArticle {
  max-width: 60rem;
  width: 100%;
}

.article-body {
  background-color: var(--card-color-bg);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  padding: var(--card-padding);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a.article-body {
  text-decoration: none;
  color: inherit;
}

.article-body .article-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-body .article-title a {
  text-decoration: none;
  color: inherit;
}

.article-body .article-title {
  margin: 0;
  font-weight: 700;
}

.article-body .article-subtitle {
  margin: 0;
  font-weight: 300;
  color: var(--color-text-secondary);
}

.article-body .article-category-list {
  display: flex;
  gap: var(--tag-gap);
}

.article-body .article-category {
  border-radius: var(--tag-border-radius);
  color: var(--tag-color-fg);
  background-color: var(--tag-color-bg);
  padding: 8px 16px;
  font-size: var(--font-small);
  display: inline-block;
}

.article-body .article-detail-list {
  display: flex;
  align-items: center;
  gap: var(--tag-gap);
  color: var(--color-text-tertiary);
}

.article-body .article-detail {
  display: flex;
  align-items: center;
  gap: 8px;
}

.article-body .article-detail .article-detail-text {
  font-size: var(--font-small);
}
