.text {
  text-align: center;
}

[data-scheme="light"] .text {
  color: var(--color-text-primary);
}

[data-scheme="dark"] .text {
  color: var(--color-text-primary-dark);
}

.title {
  font-size: var(--font-size-page-title);
  font-weight: var(--font-weight-black);
  margin-bottom: 1.2rem;
}

.body {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-light);
}

.home {
  margin: 4rem 2rem;
}

.input {
  max-width: var(--page-width-small);
  margin: 2rem auto;
}
